extends layout

block content
 .container
  .row
    .col-sm-4
    form.form-inline.col-sm-4
      .form-group
       
        
        input.form-control(style='width:250px' type='text', placeholder='Doctor Name')
      button.btn.btn-primary(type='submit' style='float:right')
          span.glyphicon.glyphicon-search
          |  Search
  .row(style="margin-bottom:20px")
    .col-sm-4
    .col-sm-4(style='margin-top:10px')
        a.btn.btn-success(href="/doctor_name") Sort By Name
        a.btn.btn-info(href="/doctor_rating" style='float:right') Sort By Rating
  .row
   for doctor in session.doctor_list
    .col-sm-4
      a(target='_blank', href='#')
        .card.hovercard
          .cardheader(style="background: url('/images/"+"#{doctor.hospital}"+".jpg');")
          .avatar
            img(alt='', src='images/#{doctor.image}')
          .info
            .title #{doctor.name}
            .desc(style="height:70px") #{doctor.brief_intro}
          .bottom
            h2 #{doctor.score}