extends layout

block content
 script.
  function search(){
    var hospital_list = !{JSON.stringify(session)}.hospital_list
    var search_input=document.getElementById('search_input').value
    for (i in hospital_list){
      document.getElementById(hospital_list[i]._id).style.display = "inline"
      if ((hospital_list[i].name).indexOf(search_input) == -1){
        document.getElementById(hospital_list[i]._id).style.display = "none"
      }
    }
  }
 .container
  .row
    .col-sm-4
    .form-inline.col-sm-4
      .form-group
        input.form-control#search_input(style='width:250px' type='text', placeholder='Hospital Name')
      button.btn.btn-primary(onclick='search();' style='float:right')
        span.glyphicon.glyphicon-search
        |  Search
  .row(style="margin-bottom:20px")
    .col-sm-4
    .col-sm-4(style='margin-top:10px')
        a.btn.btn-success(href="/hospital_name") Sort By Name
        a.btn.btn-info(href="/hospital_rating" style='float:right') Sort By Rating
  .row
   for hospital in session.hospital_list
    .col-sm-4(id=hospital._id)
      a(href='/hospital/#{hospital._id}')
        .card.hovercard
          .cardheader(style="background: url('/images/#{hospital.image}');")
          .avatar
            img(alt='', src='images/#{hospital.image}')
          .info
            .title #{hospital.name}
            .desc(style="height:70px") #{hospital.brief_intro}
          .bottom
            h2 #{hospital.score}